{{ form_start(form, {attr: {id: 'artist-form'}}) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md">
            {{ form_row(form.thumbnailUrl) }}
        </div>
    </div>
{{ form_end(form) }}
