{% extends 'base.html.twig' %}

{% block title %}
  New Artist
{% endblock %}

{% block body %}
  <h1>Create new Artist</h1>

  {{ include('artist/_form.html.twig') }}
  <button type="submit" form="artist-form" class="btn btn-primary">{{ button_label|default('Save') }}</button>
  <a href="{{ path('app_artist_index') }}" class="btn btn-secondary">Go back</a>
{% endblock %}
