<footer class="text-center py-3 mt-auto">
  <div class="container">
    <p>Biblio2.0</p>
    <a class="foot-item" href="{{ path('app_home') }}">Home</a>
    <a class="foot-item" href="{{ path('app_release_index') }}">Releases</a>
    <a class="foot-item" href="{{ path('app_artist_index') }}">Artists</a>
    <a class="foot-item" href="{{ path('app_track_index') }}">Tracks</a>
  </div>
</footer>
